body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.box {
            max-width:500px;
        margin:0 auto;
            color :red;
            font-family:sans-serif;
        }
     .dabba {
    max-width:500px;
    margin:0 auto;
    color:white;
font-family:sans-serif;
    
}
.dibba {
        max-width:500px;
        margin:0 auto;
        color:green;
        font-family:sans-serif;
        padding:80px;
        padding-left:20px;
        padding-right:20px;
    }
 
       
 
